.great-league {
    background-color: #AAD7D9;
    
}

.master-league {
    background-color: #AC87C5;
}

nav {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically, if needed */
}

nav ul {
    list-style: none; /* Removes bullet points from list */
    padding: 0; /* Removes default padding */
    display: flex;
    gap: 20px; /* Adjusts the space between navigation items */
}

nav ul li {
    display: block; /* Ensures list items are properly formatted within the flex container */
}

nav a {
    text-decoration: none; /* Optional: Removes underline from links */
    color: inherit; /* Inherits color from parent elements */
}

body {
    min-height: 100vh;
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
    .great-league {
        background-color: #19376D;
        
    }
    
    .master-league {
        background-color: #3C0753;
    }
  }